*{
    margin: 0;
    padding: 0;
}

.cart-container {
padding: 2rem 4rem;
}

.cart-container h2 {
font-weight: 400;
font-size: 30px;
text-align: center;
}

.cart_article{
    width: 60%;
    margin: auto;
}

.cart_box img{
    width: 100px;
    max-width: 100%;
    margin-right: 1rem;
}
.cart_img{
    display: flex;
    width: 400px;
}
.cart_img p {
    font-weight: bold;
    margin-left: 10px;
}
.cart_title {
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.cart_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 2px solid #242424;
    padding-bottom: 5px;
}
.cart_box div:nth-child(2) button{
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 5px;
}

.cart_box div:nth-child(3) button:hover{
    background-color: black;
    color: #fff;
}


.cart-product-quantity {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 130px;
    max-width: 100%;
    border: 0.5px solid rgb(177, 177, 177);
    border-radius: 5px;
  }
.cart-product-quantity button {
    border: none;
    outline: none;
    background: none;
    padding: 0.1rem 1rem;
    cursor: pointer;
    margin-top: 5px;
  }
.cart-product-quantity .count {
    padding: 0.7rem 0;
  }
.cart-product-total-price {
    padding-right: 0.5rem;
    justify-self: right;
    font-weight: 700;
  }
  
.remove-btn {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1.15px;
    border: 0.5px solid rgb(177, 177, 177);
    color: gray;
    background: none;
    outline: none;
    cursor: pointer;
}

.cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid rgb(187, 187, 187);
    padding-top: 2rem;
  }
.cart-summary .remove-btn {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1.15px;
    border: 0.5px solid rgb(177, 177, 177);
    color: gray;
    background: none;
    outline: none;
    cursor: pointer;
}
.cart-checkout {
    width: 270px;
    max-width: 100%;
}
.cart-checkout .subtotal {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.cart-checkout .amount {
    font-weight: 700;
}
.cart-checkout p {
    font-size: 14px;
    font-weight: 200;
    margin: 0.5rem 0;
}
.cart-checkout button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1.15px;
    background-color: #4b70e2;
    color: #f9f9f9;
    border: none;
    outline: none;
    cursor: pointer;
}
.continue-shopping,
.start-shopping {
    margin-top: 1rem;
}
.continue-shopping a,
.start-shopping a {
    color: gray;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.continue-shopping a span,
.start-shopping a span {
    margin-left: 0.5rem;
}

.cart-empty {
    font-size: 20px;
    margin-top: 2rem;
    color: rgb(84, 84, 84);
    display: flex;
    flex-direction: column;
    align-items: center;
  }